.searchForm {
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 10px auto;
  width: 600px;
  max-width: 80%;

  input {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    width: 89%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    &::placeholder {
      color: #959595;
      font-size: 18px;
      font-weight: 600;
      padding: 8px 5px;
      padding: 10px;

    }
  }

  button {
    cursor: pointer;
    background-color: #D93C23;
    color: #fff;
    padding: 8.5px;
    width: 11%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    @media screen and (max-width: 500px) {
      width: 20%;
    }

    .searchIcon {
      color: #fff;
      font-size: 30px;
      font-weight: 600
    }
  }
}

.hoverBtn {
  box-shadow: -2px 2px 1px 0.1px rgba(0, 0, 0, 0.2);
  transition: all ease-in 0.2;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 1px 2px 4px rgba(0, 0, 0, 0.4);
    transition: all ease-in 0.2;
  }
}

.city {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
  position: relative;
  margin: 10px auto;
  font-family: 'Roboto', sans-serif;
  transition: all ease-in 0.2s;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 50%;
    bottom: -10px;
    height: 2px;
    background-color: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.houseImg {
  position: absolute;
  bottom: -3rem;
  width: 16rem;
  right: -2.5rem;

  @media screen and (max-width: 767px) {
    right: -8px;
    width: 13rem;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    left: -15px;
    right: auto;
    width: 12rem;
    bottom: -2rem;
  }
}

.circularFire {
  background-color: #FF5D3E;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border-radius: 50%;
  border: transparent;
}

.slideImageContainer {
  position: relative;
  height: 100%;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  h3 {
    position: absolute;
    top: 10px;
    left: 5px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
  }

  button {
    position: absolute;
    bottom: 10px;
    left: 8px;
    font-size: .9rem;
    background-color: rgba(243, 241, 247, 0.6);
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
  }
}

.halfSlideImageContainer {
  height: 45%;

  &:nth-of-type(even) {
    margin-top: 30px;
    margin-bottom: 0;
  }
}