.eachSlide>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.logoImg {
  position: absolute;
  bottom: 15%;
  width: 250px;
  left: 8%;
}