.mellwLogo {
  height: 19px;
  letter-spacing: 0;
  line-height: 39px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 77px;
}

.navBar {
  align-items: center;
  display: flex;
  height: 80px;
  width: 1024px;
  mix-blend-mode: normal;
}

.menu {
  display: flex;
  flex: 1;
  margin-left: 155px;
  min-width: 456px;
}

.lang {
  align-items: center;
  display: flex;
  min-width: 66px;}