.mellwLogo {
  height: 19px;
  letter-spacing: 0;
  line-height: 39px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 77px;
}

.navBar {
  align-items: center;
  display: flex;
  height: 80px;
  width: 1024px;
  mix-blend-mode: normal;
}

.menu {
  display: flex;
  flex: 1;
  margin-left: 155px;
  min-width: 456px;
}

.lang {
  align-items: center;
  display: flex;
  min-width: 66px;
}

.navLink {
  text-decoration: none;
  @apply p-2;
  font-family: "Noto Sans", 'Cairo', sans-serif;
  color: var(--gray800);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  text-align: center;

  &:hover,
  &:active {
    color: var(--white);
    background-color: var(--primary);
    @apply rounded-lg;
  }

  @media screen and (max-width: 760px) {
    margin: auto;
  }
}

.navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 5px 15px;

  border-radius: 5px;

  img {
    margin-inline: 5px;
  }

  &:hover {
    color: var(--white);
    background-color: var(--primary);

    img {

      filter: brightness(6);

    }
  }
}