.notosansNormalGunPowder_14px {
  color: var(--gray800);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.notosansBoldMirage_16px {
  color: var(--gray900);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.notosansBoldGunPowder_14px {
  color: var(--gray800);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.notosansNormalDolphin_14px {
  color: var(--gray700);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.notosansBoldDolphin_16px {
  color: var(--gray700);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.notosansNormalDolphin_12px {
  color: var(--gray700);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
.notosansBoldMirage_24px {
  color: var(--gray900);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}
.notosansBoldMirage_20px {
  color: var(--gray900);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}
.notosansNormalManatee_14px {
  color: var(--gray700);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
.notosansBoldMirage_28px {
  color: var(--gray900);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}
.notosansNormalGunPowder_16px {
  color: var(--gray800);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
.notosansNormalOutrageousOrange_12px {
  color: var(--primary);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
.notosansBoldGunPowder_16px {
  color: var(--gray800);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
.notosans-bold-outrageous-orange-14px,
.notosansBoldOutrageousOrange_14px {
  color: var(--primary);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.publicsans-bold-mirage-26px,
.publicsansBoldMirage_26px {
  color: var(--gray900);
  font-family: var(--font-family-public_sans);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}
.notosans-normal-dolphin-20px,
.notosansNormalDolphin_20px {
  color: var(--gray700);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}
.notosansBoldWhite_56px {
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
}
.notosans-bold-outrageous-orange-56px,
.notosansBoldOutrageousOrange_56px {
  color: var(--primary);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}
.notosans-normal-mirage-36px,
.notosansNormalMirage_36px {
  color: var(--gray900);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxxxl2);
  font-style: normal;
  font-weight: 400;
}
.border_1pxGray800 {
  border: 1px solid var(--gray800);
}

.expo2 {
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.valign-text-middle,
.valignTextMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mellwLogo {
  height: 19px;
  letter-spacing: 0;
  line-height: 39px;
  mix-blend-mode: normal;
  white-space: nowrap;
  width: 77px;
}
.navBar {
  align-items: center;
  display: flex;
  height: 80px;
  width: 1024px;
  mix-blend-mode: normal;
}

.menu {
  display: flex;
  flex: 1;
  margin-left: 155px;
  min-width: 456px;
}

.lang {
  align-items: center;
  display: flex;
  min-width: 66px;
}

.right {
  display: flex;
  min-width: 259px;
}
.brimaryBtn {
  background-color: var(--primary);
  color: white;
  font-weight: 700;
  font-size: var(--font-size-m);
}

.categorysquare {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 2px 8px #1f1b2d14, 0px 2px 2px #1f1b2d14;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 136px;
  mix-blend-mode: normal;
  padding: 24px 14px;
  flex: 1;
}
.categorysquare:first-of-type {
  margin-left: 4px;
}
.categorysquare:last-of-type {
  margin-right: 4px;
}
.categorysquare:hover {
  box-shadow: 0px 4px 16px #1f1b2d1f, 0px 2px 8px #1f1b2d1f;
  .icon1 {
    background-color: var(--primary);
  }
}
.icon1 {
  align-items: center;
  align-self: center;
  background-color: var(--outrageous-orange);
  border-radius: 40px;
  display: flex;
  height: 48px;
  min-width: 48px;
  mix-blend-mode: normal;
  padding: 0 12px;
}

.icon1 img {
  height: 24px;
  width: 24px;
}
.categoryName {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 16px;
  min-height: 24px;
  min-width: 166px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 166px;
}

.homeCards {
  display: flex;
  width: 100%;
  @apply mt-16 mx-2;
}

.homeCardsCard {
  @apply m-4;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.homeCardsCard:hover {
  border-radius: 12px;
  box-shadow: 0px 4px 12px #1f1b2d14, 0px 2px 2px #1f1b2d14;
}
.recommendCard {
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 4px 12px #1f1b2d14, 0px 2px 2px #1f1b2d14;
  mix-blend-mode: normal;

  position: relative;
  overflow: hidden;
  @apply mr-2;
}
.badges {
  background-color: transparent;
  height: 52px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 97px;
}
.expoBadge {
  background-color: var(--gray200);
  border-radius: 8px;
  @apply flex self-center mx-2 my-4 px-4 py-1;
  mix-blend-mode: normal;
}

.expoBadge:hover {
  background-color: var(--white);
  box-shadow: 0px 4px 12px #1f1b2d14, 0px 2px 2px #1f1b2d14;
  cursor: pointer;
  span {
    color: var(--primary);
  }
}

.expoFull {
  background: url("/images/finder/luxury-bg.png");
  background-size: 100%;
  border-radius: 12px;
  overflow: hidden;
  height: 400px;
}

.expoHalfTop {
  background: url("/images/finder/luxury-2nd-top-bg.png");
  height: 200px;
}
.expoHalfBtm {
  background: url("/images/finder/luxury-2nd-top-bg.png");
  height: 200px;
}
