.navLink {
  text-decoration: none;
  @apply p-2;
  font-family: "Comfortaa", "Cairo", cursive;
  font-weight: 700;
  text-align: center;

  &:hover,
  &:active {
    color: white;
    background-color: var(--main-color);
    @apply rounded-lg;
  }

  &.hoverRed {
    &:hover {
      background-color: var(--primary);
    }
  }

  &.hoverPrimary {
    &:hover {
      background-color: var(--main-color);
    }
  }

  @media screen and (max-width: 760px) {
    margin: auto;
  }
}

.verticalLine {
  width: 80%;
  margin: auto;
}

.dropDownMenu {
  z-index: 999;
  width: 250px;
  top: 30px;
  left: 0;
  right: 0;
  position: absolute;

  @media screen and (max-width: 760px) {
    top: 0;
    position: relative;
  }
}