.navLink {
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 500;

  &.active {
    border-bottom: 3px solid #3c40c6;
    color: #3c40c6;
  }

  &:hover,
  &:active {
    border-bottom: 3px solid #3c40c6;
    color: #3c40c6;
  }
}

.verticalLine {
  width: 80%;
  margin: auto;
}