.navLink {
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 500;

  &.active {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
  }

  &:hover,
  &:active {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
  }
}

.verticalLine {
  width: 80%;
  margin: auto;
}