@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    font-family: "Noto Sans", "Cairo", Helvetica;
    --main-color: #007882;
    --main-blue-light: #052386;
    --main-blue-dark: #012b55;
    --main-red: #ff5d3e;
    --main-text: #3b4144;
    --main-secondary: #f3f1f7;
    --main-text-secondary: #443c53;
    --gray200: #f5f4f8;
    --gray700: #666276;
    --gray800: #443f56;
    --gray900: #1e1b2c;
    --outrageous-orange: #fd56311a;
    --primary: #fd5631;
    --white: #ffffff;
    --info: #3c76f2;
    --nobel: #b1b1b1;
    --success: #07c98b;
    --font-size-l: 16px;
    --font-size-m: 14px;
    --font-size-s: 12px;
    --font-size-xl: 18px;
    --font-size-xxl: 24px;
    --font-size-xxl2: 28px;
    --font-size-xxxl: 32px;
    --font-size-xxxxl: 36px;
    --font-size-xxxxxl: 56px;
    --font-family-noto_sans: "Noto Sans", Helvetica;
    --font-family-public_sans: "Public Sans", Helvetica;
    overflow-x: hidden;
  }
  button,
  input,
  a:active {
    outline: none !important;
    font-family: "Noto Sans", "Cairo", Helvetica;
  }
  h1 {
    @apply text-2xl;
    font-family: "Noto Sans", "Cairo", Helvetica;
    /* font-family: "Comfortaa", "Cairo", cursive; */
  }
  small {
    font-family: "Noto Sans", "Cairo", Helvetica;
    /* font-family: "Comfortaa", cursive; */
  }
  h2 {
    @apply text-xl;
    font-family: "Noto Sans", "Cairo", Helvetica;
    /* font-family: "Comfortaa", "Cairo", cursive; */
  }
  h3,
  h4 {
    font-family: "Noto Sans", "Cairo", Helvetica;
    /* font-family: "Comfortaa", "Cairo", cursive; */
  }
  .leave-here {
    font-family: "Roboto", sans-serif;
    font-family: "Cairo", sans-serif;
  }
  .fnd-primary {
    color: var(--primary);
  }
}

@layer utilities {
  .btn {
    @apply py-2 px-6 rounded;
  }
  .bg-primary {
    background-color: var(--main-color);
  }
  .text-primary {
    color: var(--main-color);
  }
  .bg-outline-primary {
    border: 1px solid var(--main-color);
    background-color: #fff;
  }
  .bg-red {
    background-color: var(--primary);
  }
  .text-red {
    color: var(--primary);
  }
  .bg-outline-red {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: transparent;
  }
  .bg-info {
    background-color: var(--info);
  }
  .text-info {
    color: var(--info);
  }
  .bg-outline-info {
    border: 1px solid var(--info);
    color: var(--info);
    background-color: transparent;
  }
  .bg-success {
    background-color: var(--success);
  }
  .text-success {
    color: var(--success);
  }
  .bg-outline-success {
    border: 1px solid var(--success);
    color: var(--success);
    background-color: transparent;
  }
  .bg-nobel {
    background-color: var(--nobel);
  }
  .text-nobel {
    color: var(--nobel);
  }
  .bg-outline-nobel {
    border: 1px solid var(--nobel);
    color: var(--nobel);
    background-color: transparent;
  }
  .bg-secondary {
    background-color: var(--main-secondary);
  }
  .text-secondary {
    color: var(--main-secondary);
  }
  .bg-outline-secondary {
    border: 1px solid var(--main-secondary);
    background-color: #fff;
  }
  .bg-text-secondary {
    background-color: var(--main-text-secondary);
  }
  .text-text-secondary {
    color: var(--main-text-secondary);
  }
  .bg-outline-text-secondary {
    border: 1px solid var(--main-text-secondary);
    background-color: #fff;
  }
  .bg-custom-red {
    background-color: var(--main-red);
  }
  .text-custom-red {
    color: var(--main-red);
  }
  .bg-outline-custom-red {
    border: 1px solid var(--main-red);
    background-color: #fff;
  }
  .bg-custom-blue-light {
    background-color: var(--main-blue-light);
  }
  .text-custom-blue-light {
    color: var(--main-blue-light);
  }
  .bg-outline-blue-light {
    border: 1px solid var(--main-blue-light);
    background-color: #fff;
  }
  .bg-custom-blue-dark {
    background-color: var(--main-blue-dark);
  }
  .text-custom-blue-dark {
    color: var(--main-blue-dark);
  }
  .bg-outline-blue-dark {
    border: 1px solid var(--main-blue-dark);
    background-color: #fff;
  }
  .bg-main {
    background-color: var(--main-text);
  }
  .text-main {
    color: var(--main-text);
  }
  .bg-outline-main {
    border: 1px solid var(--main-text);
    background-color: #fff;
  }
  .font-comfortaa {
    font-family: "Comfortaa", cursive;
  }
  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }
  .font-roboto {
    font-family: "Roboto", sans-serif;
  }
  .font-cairo {
    font-family: "Cairo", sans-serif;
  }
  .font-noto-sans {
    font-family: var(--font-family-noto_sans);
  }
  .font-public-sans {
    font-family: var(--font-family-public_sans);
  }
}

@layer components {
  .btn-fnd-primary {
    background-color: var(--primary);
    color: white;
    font-weight: 700;
    font-size: var(--font-size-m);
  }
  .btn-primary {
    @apply bg-primary text-white mt-5 mb-2 font-medium rounded-lg px-4 py-2 shadow-md mx-auto;
  }
  .btn-secondary {
    @apply bg-white mt-5 mb-2 font-medium rounded-lg px-4 py-2 shadow-md mx-auto;
  }
  .btn-outline-primary {
    @apply bg-transparent bg-outline-primary text-primary mt-5 mb-2 font-medium rounded-lg px-4 py-2 shadow-md mx-auto;
  }
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }
  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }
  .text-shadow-none {
    text-shadow: none;
  }
}

.rc-slider-track {
  background-color: var(--primary) !important;
}

.rc-slider-handle {
  border: 1px solid var(--primary) !important;
  /* border-radius:  */
}

.mobile-menu {
  display: block;
  position: absolute;
  background: rgba(250, 250, 250, 0.95);
  width: 90%;
  top: 80%;
  left: auto;
  right: 5%;
  padding: 20px;
  text-align: center;
  z-index: 999;
  @apply shadow-lg;
  /* transition: all .5s ease-in-out; */
}

.mobile-menu a {
  font-weight: 700 !important;
  display: block !important;
}

.react-slideshow-container + ul.indicators {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  width: 20%;
  margin: auto;
}

.react-slideshow-container + ul.indicators li {
  width: 15px !important;
  height: 15px !important;
  margin: 0 5px 0 10px !important;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator::before {
  width: 20px !important;
  height: 20px !important;
  background: #fff !important;
}

.react-slideshow-wrapper.slide {
  direction: ltr;
}

.react-slideshow-container {
  direction: ltr;
}

/* responsive table */

.responsiveTable tbody tr td.pivoted {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  text-align: right !important;
  margin-right: 5px;
}

.responsiveTable td .tdBefore {
  width: calc(50% - 5px) !important;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.form-group label {
  font-size: 14px;
  padding: 5px;
}

.form-group input {
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
