.shareContainer {
  display: flex;
  flex-direction: row;

  button {
    background-color: var(--white);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0px 2px 2px rgb(0 0 0 / 15%);
    margin: 5px;
    text-align: center;
    padding-top: 6px;

    &:not(:first-of-type) {
      svg {
        color: var(--primary);
      }

      &:hover {
        background-color: var(--primary);

        svg {
          color: var(--white);
        }
      }
    }


  }

  @media screen and (max-width: 769px) {
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    top: auto;
    right: auto;
    flex-wrap: wrap;

    button {
      margin: 5px 10px;
    }
  }
}

.shareBtns {
  position: absolute;
  top: 50px;
  flex-direction: column;
  z-index: 9999;
  right: 5px;

  button {
    background-color: transparent;
    box-shadow: 0 0 4px 4px rgb(0 0 0 / 20%);
    border-radius: 50%;

    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease-in;
    }
  }

  @media screen and (max-width: 768px) {
    top: 50px;
    flex-direction: column;
    z-index: 9999;
    right: 5px;

    button {
      margin: 5px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1022px) {
    top: 50px;
    flex-direction: column;
    z-index: 9999;
    right: 5px;

    button {
      margin: 5px;
    }
  }
}

.amenityIcon {
  width: 25px;
  height: 25px;
}

.socialMediaIcon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
  box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.3);
  margin-inline: 5px;

  svg {
    color: var(--gray700)
  }
}

.directionsBtn {
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 1rem 2rem;
  height: 30px;
  padding: 1.5rem 1rem;
  border-radius: 10px;

  img {
    margin-inline: 5px;

  }
}